{% extends "analyzer/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted">last update: 4. Dezember 2018</small>
        </div>
        <h2 class="article-title" href="#">About Page</h2>
        <p class="article-content">Hier entsteht der bahnbrechende und hocheffiziente Smart Home Assistent. Die geplanten Features können auf dem <a target="_blank" href="https://trello.com/b/QilYYX1h/luftibus">Projekt Board</a> eingesehen werden.</p>
        <p class="article-content">Das Projekt wird empirisch durchgeführt und Projektmeilensteine sind jederzeit zu erwarten :-).</p>
      </div>
    </article>
{% endblock content %}