{% extends "analyzer/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted">last update: 4. Dezember 2018</small>
        </div>
        <h2 class="article-title" href="#">SolaEdge Auswertung</h2>
        <p class="article-content">In Kürze erscheint hier eine Live Ansicht der Solaranlage. Gespiesen von SolarEdge.<p>
        <p class="article-content"> APIKEY: {{  APIKEY }} </p>
        <p class="article-content"> APIID: {{  APIID }} </p>
      </div>
    </article>
{% endblock content %}