{% extends "analyzer/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">last update: 4. Dezember 2018</small>
      </div>
      <h2 class="article-title" href="#">SolaEdge Auswertung</h2>
      <p class="article-content">In Kürze erscheint hier die Live-Daten der Solaranlage. Gespiesen von SolarEdge.<p>
      <form method="get">
        <input type="text" name="APIKEY_input" placeholder="API Key">
        <input type="text" name="APIID_input" placeholder="Site ID">
        <button type="submit">submit</button>
      </form>
      {% if form_submitted %}
        <p><strong>Die unten aufgeführten Daten entsprechen ihrer angefragten API Key {{  APIKEY }} und Site ID {{  APIID }}.</strong></p>
      {% else %}
        <p><strong>Die unten aufgeführten Daten entsprechen den Default API Key und Site ID welche im System hinterlegt sind.</strong></p>        
      {% endif %}

      {% for API_result_key, API_result_value in API_results.items %}
        <p class="article-content"><strong> {{  API_result_key }} </strong></p>
        <p class="article-content"> {{  API_result_value }} </p>
      {% endfor %}
    </div>
  </article>
{% endblock content %}